 body {
        font-family: Georgia, serif;
        font-size: 100%;
        line-height: 1.75em;
        margin: 0 10%;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-color: white;
        background-size: 25%;
        background-image: url(FCAlogo.webp);}
    header {font-size: larger;
    text-align: center}
    p {text-align: center;}
    tr {text-align: center;}
    .center-table {
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* Optional: controls table width */
  background-color: darkgray;}
    #myHeader {
  background-color:  darkgray;
  color: black;
  padding: 40px;
  text-align: center;
  border: green 3px solid;
}
/* The element with id="demo" */
#demo {
  border: green 5px solid;
}
input {
  width: 100%;
}
input[type=text] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
}